*.swp
xmonad/.xmonad/*
!xmonad/.xmonad/stack.yaml
!xmonad/.xmonad/my-xmonad.cabal
!xmonad/.xmonad/build
!xmonad/.xmonad/src
music/.config/mpd/*
!music/.config/mpd/mpd.conf
music/.ncmpcpp/*
!music/.ncmpcpp/bindings
!music/.ncmpcpp/config
var/
config/gpgkeys/
.venv/
