vim/.vim/bundle/*
*.swp
xmonad/.xmonad/*
!xmonad/.xmonad/xmonad.hs
!xmonad/.xmonad/stack.yaml
!xmonad/.xmonad/my-xmonad.cabal
!xmonad/.xmonad/build
!xmonad/.xmonad/src
music/.config/mpd/*
!music/.config/mpd/mpd.conf
neovim/.config/nvim/*
!neovim/.config/nvim/init.vim
tmux/.tmux/plugins/
tmux/.tmux/resurrect
!tmux/.tmux/plugins/.gitkeep
vim/.vim/plugged/
x/.Xresources.d/colors
.gitattributes
themes/.shell-themes/.current_theme
termite/.config/termite/config
dunst/.config/dunst/dunstrc
rofi/.Xresources.d/*
!rofi/.Xresources.d/rofi
!rofi/.Xresources.d/rofi_colors
