#include ".Xresources.d/urxvt"
#include ".Xresources.d/colors"
#include ".Xresources.d/rofi"
#include ".Xresources.d/rofi_colors"


*font: "xft:DejaVu Sans Mono:style=Regular:size=9"
dzen2.font: "xft:DejaVu Sans Mono:size=9:bold:antialias=true"
Emacs.FontBackend: xft
Emacs.font: Hasklig-13

